@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <br />
    <h1>Vote With Your Wallet</h1>
    <p class="lead">Make your voice heard with this petition website</p>
    <p class="toNewCause"><a href="~/Home/Start" class="btn btn-danger btn-lg">Start a new cause</a></p>
    <p class="toRegister"><a href="~/Account/Register" class="btn btn-danger btn-lg">Start a new cause</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Start a new cause</h2>
        <p>
            Take action and let the world know about companies and businesses unethical practices, racism, unfair employment conditions,
            tax avoidance, envionmental issues or violations of human rights and equality. With "Vote With Your Wallet" you can quickly
            and easilly start a new pettition to a cause protesting against evil capitalist corporations that plague our society.
            Share in social media with linke minded activists who agree to not do business with these companies until they change
            their ways. Show them your power now!
        </p>
        <p class="toNewCause"><a class="btn btn-default" href="~/Home/Start">Start a cause now &raquo;</a></p>
        <p class="toRegister"><a class="btn btn-default" href="~/Account/Register">Start a cause now &raquo;</a></p>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h2>View what others are protesting about</h2>
        <p>
            Take a look through all current petitions on Vote With Your Wallet that a re active at the moment and support your
            fellow activists against the evil scourge of corrupting capitalist businesses and corporations!
        </p>
        <p><a class="btn btn-default" href="~/Home/Browse">Browse causes &raquo;</a></p>
    </div>
</div>
