
@{
    ViewBag.Title = "SampleCause";
}

<h2>SampleCause </h2>

<script>
    var $_GET = {};
    var signatures;

    signatures = Math.floor((Math.random() * 100) + 1);

    document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
        function decode(s) {
            return decodeURIComponent(s.split("+").join(" "));
        }
        $_GET[decode(arguments[1])] = decode(arguments[2]);
    });  // code copied from https://ideasandpixels.com/get-post-variables-with-javascript/

    $(document).ready(function () {
        $("h2").append($_GET['id']);
        $('#howManyPeopleHaveSigned').append(signatures + " others are supporting this cause");
        $('.progress-bar').append(signatures);
        $('.progress-bar').width(signatures);
        $('.progress-bar').aria - valuenow(signatures);
    });

    var counter = 1;
    for (var i = 0; i < signatures; i++) {
        $(document).ready(function () {
            $("#supporter").append("<p>Supporter " + counter + "</p>");
            counter++;
        });
    }
    
</script>

<br />
<div class="row">
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, vehicula ligula, eu felis, nam ante asperiores nunc, eget ultricies quisque nullam libero, congue et velit justo justo justo mauris. Morbi sagittis sit vestibulum nunc, in ut mauris aliquet porttitor. Eu amet lacus magna, sodales vel a sed, enim libero, nec rhoncus. Pede suscipit, vitae donec, sem ac turpis laoreet mollis suspendisse mi. Sem a, a suspendisse nunc. Eu odio molestie, ipsum massa eget ullamcorper sollicitudin, vulputate purus bibendum maecenas lacus. In vel, nonummy a urna vel, curae eros pellentesque elit nullam eget aenean, orci in. Aliquam quis dapibus nunc, imperdiet mauris scelerisque at, vestibulum aliquet, non aptent vel doloremque tortor eget, viverra quam ipsum suspendisse.</p>

        <p>Eget mauris ut interdum sed, vestibulum per risus vivamus sem mollis, accumsan convallis dictum, morbi adipiscing habitasse felis, posuere lectus et. At magna egestas rutrum at suscipit a, lectus parturient libero id nisi, ut maecenas pulvinar consequat duis, neque elit suspendisse erat vestibulum varius euismod, pellentesque quam nec integer ornare est. Cum duis at at nam. Sagittis dictumst habitasse. A lobortis mauris massa eu, luctus vitae, eu nam. Suspendisse nullam, velit qui nam nisl, etiam pharetra duis suspendisse maecenas nunc justo, aenean nulla blandit sit. Dignissim adipiscing non nunc id, commodo eget nibh praesent per pariatur, suscipit morbi. Egestas ipsum, urna lobortis donec pede nonummy, deserunt aenean, taciti id et non elit integer orci. Curabitur quam risus. Quis eu lacinia, quam tortor tempor risus eu. Dis ut vitae augue. Curabitur sed duis porttitor wisi cras metus, consectetuer viverra mi duis, elit aliquam quis molestie nibh ut, ut aliquam senectus, montes et feugiat aliquam platea at.</p>

        <p>Libero at id cursus orci viverra. Justo amet proin urna, venenatis sed consectetuer fermentum elit mauris pede, malesuada maecenas duis pede arcu. Fermentum dignissim ante fermentum amet at, metus fames. Ut pede posuere tempor dui pellentesque, mollis duis cursus vulputate aliquam posuere vestibulum, mauris scelerisque leo senectus dolor, pulvinar wisi ligula, vivamus pretium donec odio. Sodales suspendisse imperdiet turpis, arcu congue integer tincidunt lorem, orci convallis vulputate quis iaculis nunc pellentesque, tempor placerat et vel. Tellus quam nulla, sem ullamcorper dis ut. Penatibus curae sed vitae imperdiet sed, id arcu, vitae lectus congue, erat turpis vel curabitur sed maecenas mauris, varius magnis. Sodales inceptos duis scelerisque, est pede varius ut, neque elit metus metus eu sollicitudin, consequat in sodales wisi sapien. Lorem dui condimentum ac nibh, nec hymenaeos, vehicula aenean tincidunt. </p>

        <p>Montes posuere sociis nibh. Nisl risus suspendisse nibh quam sed ante, donec mollis enim nec, donec sit risus sociosqu pellentesque mauris scelerisque, nec posuere et mauris non volutpat, volutpat pulvinar ut in. Aliquam sapien, id lorem quam vel dis cras, sagittis sed lobortis sagittis id ac eleifend. Faucibus mauris, nulla wisi sed, fermentum pharetra dictum felis, scelerisque accumsan aperiam cursus in. Nisl suspendisse nec et, varius fuga erat vestibulum habitasse, imperdiet viverra aenean, vel fringilla debitis nibh, nullam vestibulum eu vestibulum proin. Ut dolor ante lacinia lacus, consectetuer dolor feugiat. Mus quisque malesuada dui donec, pretium non id, fermentum dui. Etiam ante pede posuere at nec et, nascetur dui, phasellus nunc imperdiet faucibus magna. </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h3>Signatures</h3><br />
        <p id="howManyPeopleHaveSigned"></p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                
            </div>
        </div>
        <br />
        <button type="button" class="btn btn-md pull-right">Sign the petition</button>
        <div>
            <br /><br />
            <h4>People who have signed:</h4>
            <div id="supporter"></div>
        </div>
    </div>
</div>